
.font-lato{
    font-family:  $font-lato;
}
.font-raleway{
    font-family: $font-raleway;
}
.db-text-blue {
    color: $db-text-blue !important;
}
.db-p-color{
    color:  $db-p-color;
}
.dashboard {
    background: #F7F8FA;
    border-left: 20px solid $db-dark-blue;
    *{
        letter-spacing: 0;
    }
    h2,h4,p{
        margin-bottom: 0;
    }
    .renew-plan-btn{
        background: $db-btn-color;
        color: white;
        padding: 10px;
        text-decoration: none;
        font-weight: 600;
        border-radius: 10px;
        height: 40px;
    }
    .quick-stats{
        .box{
            background: #fff;
            border-radius: 8px;
            padding: 20px;
            display: flex;
            justify-content: space-evenly;
            min-height: 130px;
            flex-direction: column;
            p{
                margin-bottom: 0;
            }
        }
    }
    .features-tabs{
        .nav-tabs{
            border-bottom: 2px solid #E2E7EE;
            height: 45px;
            li {
                margin-right: 100px;
                a {
                    color: #AFAFAF;
                    font-family: $font-raleway;
                    text-decoration: none;
                    height: 45px;
                    display: block;
                    font-weight: 700;
                    &.active{
                        border-bottom: 3px solid #FFA101;
                        color: #000;
                    }
                }
            }
        }
        .tab-content{
            .box{
                background: #fff;
                border-radius: 5px;
                padding: 20px 12px;
                .renew-btns{
                    border-top: 1px solid #EAEAEA;
                }
            }
            table{
                thead{
                    background: #F2F0F0;
                    border: 0;
                    height: 60px;
                    vertical-align: middle;
                    th{
                        font-weight: 600;
                    }
                }
                tbody, th {
                    
                    border: 0;
                }
                tr{
                    border: 0;
                    height: 60px;
                    vertical-align: middle;
                    a.download-btn{
                        background: $db-dark-blue;
                        color: white;
                        padding: 10px 15px;
                        text-decoration: none;
                        border-radius: 10px;
                        font-family: $font-1;
                    }
                    td{
                        color: #727272;
                        font-family: $font-1;
                        border: 0;
                        img{
                            margin-left: 10px;
                        }
                    }
                }
            }
            #invoice{
                p{
                    margin-bottom: 0;
                }
                table{
                    thead{
                        background: 0;
                        border-bottom: 2px solid #E2E7EE;
                    }
                    th, td{
                        font-weight: 600;
                    }
                    tr{
                        height: auto;
                    }
                }
                .print-btns{
                    a{
                        background: $db-btn-color;
                        border-radius: 5px;
                        padding: 10px;
                        box-shadow: 0 0.5rem 1rem rgb(3 36 120 / 31%) !important;
                        display: block;
                        font-weight: 700;
                        text-decoration: none;
                        width: 100px;
                        text-align: center;
                        
                    }
                }
            }
        }
    }
    .user-details{
        position: sticky;
        top: 0;
        
        form{
            background: #F7F8FA;
            border-radius: 100px;
            height: 50px;
            display: flex;
            align-items: center;
            padding: 0 10px;
            
            input{
                background: none;
                border: 0;
                outline: 0;
                color: #BBC5D5;
                font-size: 12px;
                font-family: $font-lato;
                height: 20px;
                &::placeholder{
                    color: #BBC5D5;
                    font-size: 12px;
                    font-family: $font-lato;
                }
            }
            button{
                
                background: transparent;
                
                padding: 0 10px;
                border: none;
                outline: none;
                border-right: 1px solid #BBC5D5;
                i{
                    font-size: 20px;
                }
            }
        }
    }
    .edit-profile{
        display: block;
        background: #C1BED8;
        color: $db-dark-blue;
        padding: 15px;
        border-radius: 50px;
        text-decoration: none;
        font-size: 12px;
        text-align: center;
    }
    .reminders{
        .view-all{
            a,i{
                color: #FFA101;
                text-decoration: none;
                
                font-weight: 600;
            }
            i{
                font-size: 14px;
            }
        }
        img{
            width: 50px;
            margin-right: 20px;
            
        }
        .subtext{
            color: #7F8FA4;
        }
    }
    
}