
// cost calculator 
$text-color:  #236DA0;
$font-1 :  Metropolis, sans-serif;
$blue-color: #56ABD8;
$gray-color: #FCFCFC;

//dashboard
$db-dark-blue : #032478;

$db-text-blue : #032478;
$db-btn-color: #322A7D;
$db-p-color: #354052;
$font-lato : lato, sans-serif;
$font-raleway : Raleway, sans-serif;


$cc-green-shade : #85E0BF;
$cc-page-title: #2F4763;
$cc-history-page-text: #021969; 
$cc-slider: #3C508B;