.cc-db-blue-bg{
    background: $db-text-blue;
    min-height: 450px;
    position: relative;
    z-index: 2;
    
    display: flex;
    align-items: center;
}
.cc-history-section{
    background: #fff;
    border-radius: 10px;
    form{
        height: 40px;
        border: 1px solid #ced4da;
        width: 270px;
        padding: 10px;
        
        button{
            background: 0;
            border: 0;
        }
        i{
            color:#ddd;
            font-size: 18px;
        }
        input{
            border: 0;
            color: #ced4da !important;
            font-size: 13px;
            &::placeholder{
                color: #ced4da !important; 
            }
        }
    }
    
    .user-history, .ref-no-block, .edit-delete-block{
        min-height: 110px;
        span{
            color: #868686;
            font-weight: 200;
        }
        .user-block {
            width: 200px;
        }
    }
    .cc-view-history, #nextBtn{
        background: $cc-history-page-text;
        color: #fff;
        border-radius: 6px;
        text-decoration: none;
        padding: 8px 15px;
        font-size: 12px;
        box-shadow: 0 0.5rem 1rem rgb(3 36 120 / 31%) !important;
        
    }
 
    .ref-no-block{
        background: $cc-history-page-text;
        padding-right: 0 !important;
        .date {
            font-size: 12px;
        }
        .ref-number-title{
            font-size: 13px;
        }
    }
}

